body {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "quatro-slab", sans-serif;
  font-size: 2.0em;
  color: #00aeef;
}

h4 {
  margin-bottom: 64px;
  color: #fff;
}

.masthead {
	background-color: #00aeef;
}

a {
	color: #00aeef;
}
